
.imgbox{
    margin-top:20px;
    height: 300px;
}
.imgcard{
    float: left;
    height:300px;
    width:150px;
    margin:0 10px;
}

.imgcard img{
    width:100%;
}
.imgcard2{
    height:300px;
    width:150px;
    margin:0 10px;
    float:left;    
    background-size: contain;
}

.imgcard2.a{
    background: url("./떼잉.jpg") no-repeat center;
    background-size: cover;
}
.imgcard2.b{
    background: url("./xx.jpg") no-repeat center;
    background-size: cover;
}
.imgcard2.c{
    background: url("./소녀.jpg") no-repeat center;
    background-size: cover;
}