* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightyellow;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header {
    width: 1200px;
    height: 200px;
    padding: 20px 0px;
    background-color: sandybrown;
    margin-bottom: 50px;
    position: relative;
}

#titleBox {
    background-color: transparent;
    height:100px;
    width: 1160px;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 10px;
    color: bisque;
    padding-bottom: 50px;
}

#title {
    background-color: transparent;
    /* height:100px; */
    /* width: 1160px; */
    font-size: 75px;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: bisque;
}

#title a {
    background-color: transparent;
    /* height:100px; */
    /* width: 1160px; */
    font-size: 75px;
    text-align: center;
    position: relative;
    /* top: 50px; */
    color: bisque;
    text-decoration: none;
}

#nav {
    height: 50px;
    width: 500px;
    position:absolute;
    bottom: 7px;
    right: 7px;
    padding: 10px 0px;
    background-color: transparent;
    color: darkred;
    transition: 0.5s;
}

#nav .menu {
    position: relative;
    float: left;
    width: 125px;
    background-color: transparent;
    padding: 7px 10px;
    margin: 0 auto;
    text-align: center;
}

#nav .menu a {
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
    color: currentColor;
}

#nav :hover {
    transition: 0.5s;
    background-color: bisque;
    color: brown;
}

#cafeMenu {
    /* height: 500px; */
    font-size: 20px;
}

#main{
    width: 1100px;
    height: 50;
    float: left;
    padding: 7px 10px;
}

#footer {
    width: 1200px;
    height: auto;
    position: absolute;
    bottom: 0px;
    background-color: chocolate;
}

#footer div {
    background-color: transparent;
    /* position: relative; */
    float: right;
    margin-right: 7px;
    padding: 5px 7px;
    color: black;
}



