*{
    margin: 0;
    padding: 0;    
}
body{
    display: flex;
}
#search{
    margin: 0 10px;
    border-radius: 3px;
    border: none;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: lightblue;
}

.name{
    display: flex;
    margin: 10px;
}
.email{
    display: flex;
    margin: 10px;
    
}
